%h2
  = t('forum_extension.top_topics')
%ul
  - Topic.visible_to(current_reader).busiest(10).each do |topic|
    %li
      = link_to_topic(topic, :class => 'title')
      %br
      %span.context
        = t('forum_extension.started_by')
        - if topic.reader
          = link_to(topic.reader.name, reader_url(topic.reader)) + ', '
        - else
          %span.deleted
            = t('forum_extension.reader_deleted')
        = t('forum_extension.now_has')
        = topic.posts.count
        = t('forum_extension.posts') + '.'
