- topic ||= @topic
- post = topic.posts.first

%p.context
  - if topic.reader
    = t('forum_extension.started_by')
    = post.reader.name
  = friendly_date(post.created_at)

  - if topic.forum
    = t('forum_extension.under')
    = link_to(topic.forum.name, forum_url(topic.forum), :class => 'forum')

  = render :partial => 'posts/edit_links', :locals => {:post => post}

