- topic ||= @topic

%li.topic
  = link_to_post(topic.posts.last, :class => 'title')
  %br
  %span.context
    - if topic.has_replies?
      - if topic.replied_by
        = t('forum_extension.new_reply_from')
        = reader_or_link_to_reader(topic.replied_by)
        = friendly_date(topic.replied_at)
    - else
      = t('forum_extension.started_by')
      = reader_or_link_to_reader(topic.reader)
      = friendly_date(topic.created_at)
